# -------------------------------------------------------------------------
# System / OS Files
# -------------------------------------------------------------------------
.DS_Store
Thumbs.db
*_history

# -------------------------------------------------------------------------
# Vivado Runtime / Log Files
# -------------------------------------------------------------------------
*.jou
*.log
*.str
*.backup.jou
*.backup.log

# -------------------------------------------------------------------------
# Vivado Project Internal Directories (Generated Data)
# -------------------------------------------------------------------------
*.runs/
*.sim/
*.cache/
*.hw/
*.ip_user_files/
*.gen/

# The .Xil folder is a temporary scratchpad for Vivado
.Xil/

# -------------------------------------------------------------------------
# Build Artifacts / Binary Files
# -------------------------------------------------------------------------
*.dcp
*.bit
*.bin
*.mcs
*.prm
*.hdf
*.xsa

# -------------------------------------------------------------------------
# SDK / Vitis (If applicable)
# -------------------------------------------------------------------------
.sdk/
.metadata/
*.elf
*.o
Debug/
Release/

# -------------------------------------------------------------------------
# Debugging Data
# -------------------------------------------------------------------------
*.ila
*.lmc

# -------------------------------------------------------------------------
# Editor / IDE Temps
# -------------------------------------------------------------------------
.vscode/
*~
*.swp

# -------------------------------------------------------------------------
# Verilator
# -------------------------------------------------------------------------
**/obj_dir

# -------------------------------------------------------------------------
# Executable
# -------------------------------------------------------------------------
**/bin